**/.git
**/.gitignore
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/npm-debug.log
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/.env
**/.env.*
**/appsettings.Development.json
**/appsettings.Production.json
**/wwwroot/uploads/**
!**/wwwroot/uploads/.gitkeep
**/README.md
**/LICENSE
**/.github

